@font-face {
  font-family: 'Euclid Circular A';
  src: url("../fonts/EuclidCircularA-Regular.eot");
  src: local("Euclid Circular A Regular"), local("EuclidCircularA-Regular"), url("../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Regular.woff2") format("woff2"), url("../fonts/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../fonts/EuclidCircularA-Medium.eot");
  src: local("Euclid Circular A Medium"), local("EuclidCircularA-Medium"), url("../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Medium.woff2") format("woff2"), url("../fonts/EuclidCircularA-Medium.woff") format("woff"), url("../fonts/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../fonts/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), local("EuclidCircularA-SemiBold"), url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Euclid Circular A', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #5B5B5D;
  min-width: 320px;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #191919;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button, input {
  font-family: 'Euclid Circular A', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3;
  border: none;
  outline: none;
}

button, .button {
  color: #fff;
  cursor: pointer;
  padding: 2.4rem 7.5rem;
  -webkit-transition: .4s all;
  transition: .4s all;
  border-radius: 1rem;
  background-color: #D30032;
}

button:hover, .button:hover {
  background-color: #E81043;
  -webkit-box-shadow: 0rem 2.2rem 6.4rem -1.2rem rgba(211, 0, 50, 0.5);
          box-shadow: 0rem 2.2rem 6.4rem -1.2rem rgba(211, 0, 50, 0.5);
}

.number {
  color: #D30032;
}

.container {
  max-width: 139.1rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1401px) {
  .container {
    max-width: 129.1rem;
  }
}

@media (max-width: 1299px) {
  .container {
    max-width: 119.1rem;
  }
}

.header {
  padding-top: 4rem;
  font-size: 1.6rem;
  margin-bottom: 11rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0 2rem;
}

.menu__link {
  -webkit-transition: .4s all;
  transition: .4s all;
}

.menu__link.active, .menu__link:hover {
  color: #D30032;
}

.hero__title, .hero__plus {
  margin-bottom: 4rem;
}

.hero__button {
  margin-right: 6rem;
}

.hero__more {
  color: #D30032;
}

.hero, .about, .delivery {
  margin-bottom: 12.5rem;
}

.hero__inner, .about__inner, .delivery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title, .about__title, .delivery__title {
  max-width: 68rem;
  font-size: 4.8rem;
  line-height: 1.25;
}

.about__title {
  margin-bottom: 1.5rem;
}

.about__description {
  max-width: 67rem;
  margin-bottom: 4.5rem;
}

.delivery__title {
  margin-bottom: 3rem;
}

.delivery__description {
  max-width: 73rem;
  margin-bottom: 4rem;
}

.faq__title {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 6rem;
}

.footer {
  padding: 2.5rem 0;
  font-size: 1.6rem;
  border-top: 0.1rem solid #F2F2F2;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  color: #E97F98;
}

@media (max-width: 1159px) {
  body {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .hero__title, .about__title, .delivery__title {
    line-height: 1;
    font-size: 3.5rem;
  }
  .hero__title, .hero__plus {
    margin-bottom: 2rem;
  }
  .hero__button {
    margin-right: 3rem;
  }
  .about__image {
    max-width: 95%;
  }
  .faq__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {
  .header, .footer {
    font-size: 1.4rem;
  }
  .hero__inner, .delivery__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__plus {
    text-align: center;
  }
  .hero__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero, .about, .delivery {
    margin-bottom: 8rem;
  }
  .hero__title, .about__title, .delivery__title {
    text-align: center;
  }
  .about__info, .delivery__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__description, .delivery__description {
    text-align: center;
  }
  .about__button, .delivery__button {
    margin: 0 auto;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__image {
    max-width: 100%;
  }
}

@media (max-width: 785px) {
  button, .button {
    padding: 2.2rem 6.5rem;
  }
  .header {
    margin-bottom: 3.5rem;
  }
  .about__description {
    margin-bottom: 2rem;
  }
  .delivery__title, .delivery__description {
    margin-bottom: 2rem;
  }
  .footer .menu__item {
    margin: 0 1rem;
  }
}

@media (max-width: 685px) {
  body, .hero__plus {
    font-size: 1.4rem;
  }
  .hero, .about, .delivery {
    margin-bottom: 5rem;
  }
  .hero__title, .about__title, .delivery__title, .faq__title {
    font-size: 3rem;
  }
  .footer {
    font-size: 1.2rem;
  }
  .footer .menu__item {
    margin: 0 0.5rem;
  }
}

@media (max-width: 620px) {
  .header .menu__item {
    margin: 0 1rem;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .logo, .footer .menu {
    margin-bottom: 1rem;
  }
}

@media (max-width: 525px) {
  button, .button {
    padding: 1.8rem 5.5rem;
  }
  .header {
    font-size: 1.2rem;
  }
  .header .menu__item {
    margin: 0 0.5rem;
  }
  .hero__title, .about__title, .delivery__title {
    margin-bottom: 1rem;
  }
}

@media (max-width: 440px) {
  .header {
    padding: 1.5rem;
    border-bottom: 0.1rem solid #F2F2F2;
  }
  .header .menu {
    display: none;
  }
  .header .logo {
    margin: 0 auto;
  }
}

@media (max-width: 415px) {
  .hero__plus {
    font-size: 1.2rem;
  }
  .hero__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__button {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .hero__title, .about__title, .delivery__title, .faq__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 356px) {
  .hero__plus {
    font-size: 1rem;
  }
  .hero__title, .about__title, .delivery__title, .faq__title {
    font-size: 2.2rem;
  }
  .footer .menu__item {
    margin: 0 0.2rem;
  }
}

.payment {
  max-width: 549px;
  max-height: 75.9rem;
  margin: 0 auto;
  padding: 5rem 10.1rem;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  border: 1px solid #F0F0F0;
}

.payment__title {
  margin-bottom: 1.5rem;
}

.payment__wrapper span {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  color: #191919;
}

.payment__input {
  width: 100%;
  padding: 1.5rem 1.8rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background: #ECF1F7;
}

.payment__input::-webkit-input-placeholder {
  color: #76797C;
}

.payment__input:-ms-input-placeholder {
  color: #76797C;
}

.payment__input::-ms-input-placeholder {
  color: #76797C;
}

.payment__input::placeholder {
  color: #76797C;
}

.payment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.payment button {
  width: 100%;
}

.payment__wrapper.expire {
  width: 16.5rem;
}

.credit-card {
  width: 32rem;
  position: relative;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  color: #fff;
  border-radius: 2.4rem;
  background: linear-gradient(167.6deg, rgba(211, 0, 50, 0.8) -9.78%, rgba(255, 38, 88, 0.8) 107.04%);
  -webkit-box-shadow: 0rem 2.2rem 3.2rem -1.2rem rgba(211, 0, 50, 0.5);
          box-shadow: 0rem 2.2rem 3.2rem -1.2rem rgba(211, 0, 50, 0.5);
  margin-bottom: 1.5rem;
}

.credit-card::before, .credit-card::after {
  content: '';
  width: 18.699rem;
  height: 8.766rem;
  position: absolute;
}

.credit-card::before {
  left: 0;
  bottom: 0;
  background-image: url(../img/payment/left.png);
}

.credit-card::after {
  top: 0;
  right: 0;
  background-image: url(../img/payment/right.png);
}

.credit-card__content {
  padding-top: 7.1rem;
  padding-bottom: 2.1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.credit-card__placeholder {
  font-size: 1.2rem;
  line-height: 1.25;
  color: rgba(241, 121, 148, 0.9);
}

.credit-card__logo {
  top: 2.5rem;
  right: 3rem;
  position: absolute;
}

.credit-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.credit-card__number {
  margin-bottom: 3.1rem;
}

@media (max-width: 350px) {
  .credit-card {
    width: 30rem;
  }
}

.expire1 {
  margin-right: 1rem;
}
/*# sourceMappingURL=app.css.map */